* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-bg-color: #1e2d42;
  --secondary-bg-color: #e0e7f0;
}

body {
  padding: 1rem;
  background-color: var(--main-bg-color);
}

.background-red {
  background-color: aqua;
}
