.experience__container {
  margin: 1.5rem 1.2rem 4rem;
  padding: 0 1.3rem 0.5rem;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1rem;
}

.experience__title {
  font-size: 1.4rem;
  color: #99aecc;
}

.experience__title--light {
  color: #1e2242 !important;
}

.experience__paragraphs {
  display: flex;
  gap: 1.8rem;
  font-weight: 500;
  color: white;
}

.experience__paragraphs--light {
  color: black !important;
}

.experience__project--container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project__arrow__left--container {
  display: none;
}

.project__arrow__right--container {
  display: none;
}

@media (min-width: 366px) {
  .experience__container {
    margin-top: 2rem;
    font-size: 1.3rem;
  }

  .experience__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 600px) {
  .experience__container {
    margin: 2rem 1.5rem 4rem;
    font-size: 1.4rem;
  }
  .experience__title {
    font-size: 1.9rem;
  }
}

@media (min-width: 1024px) {
  .experience__container {
    font-size: 1.5rem;
    margin-bottom: 5em;
  }

  .experience__paragraphs {
    width: 80%;
    text-justify: inter-word;
  }

  .experience__project--container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100%, 1fr));
    justify-content: start;
    gap: 7rem;
    overflow-x: auto;
  }

  .experience__project--container::-webkit-scrollbar {
    display: none;
  }

  .experience__title--projects {
    text-align: center;
  }

  .project__arrows {
    width: 2.1rem;
  }

  .project__arrow__right--img {
    transform: rotate(180deg);
  }

  .project__arrow__left--container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    background-color: rgb(197, 197, 186);
  }

  .project__arrow__right--container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    background-color: rgb(197, 197, 186);
    right: 0;
  }
}

@media (min-width: 1152px) {
  .experience__container {
    font-size: 1.28rem;
    line-height: 2rem;
  }
  .experience__title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1366px) {
  .experience__container {
    padding-top: 1rem;
    font-size: 1.1rem;
  }
}

@media (min-width: 1500px) {
  .experience__container {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .experience__title {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
