.main {
  padding: 0 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}

.arrow__left--container {
  display: none;
}

.arrow__right--container {
  display: none;
}

.main__title--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main__title--container h1 {
  font-size: 2.6rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2.5rem;
}

.main__paragraph--container h3 {
  font-size: 1rem;
  font-weight: 400;
}

.main__title--container h1:first-child {
  color: #99aecc;
}

.main__title--container-dark h1:first-child {
  color: #313335 !important;
}

.main__title--container h1:nth-child(2) {
  color: #3475cf;
}
.main__title--container h1:nth-child(3) {
  color: white;
}

.main__title--container-dark h1:nth-child(3) {
  color: #1e2d42;
}

.image__container {
  display: flex;
  justify-content: center;
  margin: 34px 0 20px 0;
}

.profile__image {
  width: 13.75rem;
  border-bottom: 6px #e1e1e1 solid;
}

.main__paragraph--container {
  font-size: 17px;
  font-family: "Montserrat";
  display: flex;
  font-weight: lighter;
  color: white;
  padding-left: 38px;
  padding-right: 18.5px;
}

.main__paragraph--container-dark {
  color: #1e2d42;
}

.main__courses--container {
  display: grid;
  width: 92%;
  margin: 2rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.6rem;
  background: #e1e1e1;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 12px;
  text-align: center;
  scroll-behavior: smooth;
}

.course img {
  width: 3.7rem;
}

.modal__button {
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 8rem;
  height: 2rem;
  color: white;
  background-color: #3475cf;
}

.modal__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
}

.certificates__container {
  width: 90%;
}

.certificates__pdfs {
  width: 90%;
  height: 20rem;
  height: 50rem;
}

@media (min-width: 366px) {
  .main__title--container h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .profile__image {
    width: 16rem;
    border-bottom: 6px #e1e1e1 solid;
  }
  .main__paragraph--container h3 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .main__courses--container {
    gap: 1rem;
  }

  .course {
    font-size: 15px;
  }

  .course img {
    width: 4.7rem;
  }
}

@media (min-width: 600px) {
  .main__title--container h1 {
    font-size: 3.8rem;
    line-height: 4rem;
  }
  .profile__image {
    width: 24rem;
    border-bottom: 6px #e1e1e1 solid;
  }
  .main__paragraph--container h3 {
    width: 26rem;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .main__courses--container {
    gap: 1rem;
  }

  .course {
    font-size: 16px;
  }

  .course img {
    width: 7rem;
  }
}

@media (min-width: 1024px) {
  .main__title--container h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .profile__image {
    width: 40rem;
    border-bottom: 6px #e1e1e1 solid;
  }
  .main__paragraph--container h3 {
    width: 40rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .main__courses--container {
    margin: 5rem 0;
    padding: 2rem;
    gap: 1rem;
  }

  .course {
    font-size: 1.6rem;
  }

  .course img {
    width: 9rem;
  }
}

@media (min-width: 1152px) {
  .main {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    padding: 1rem 4.5rem;
    height: 72.5vh;
    margin: 0;
    font-family: "Montserrat";
  }
  .main__title--container {
    margin-top: 4rem;
  }
  .main__title--container h1 {
    align-self: flex-start;
    font-size: 3.6rem;
    line-height: 4rem;
    text-align: start;
  }
  .image__container {
    margin: 0 1rem 0 0;
  }
  .profile__image {
    width: 50vh;
    border-bottom: 6px #e1e1e1 solid;
  }

  .main__paragraph--container h3 {
    margin-top: 8rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .main__courses--container {
    width: 100%;
    height: 20vh;
    overflow: scroll;
    position: absolute;
    display: grid;
    border-radius: unset;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0 3.4rem;
    align-items: center;
    gap: 5rem;
    left: 0;
    bottom: 0;
  }

  .main__courses--container::-webkit-scrollbar {
    display: none;
  }

  .course {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .course img {
    width: 5.5rem;
  }

  .course img:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition-duration: 1s;
  }

  .arrows {
    width: 2.1rem;
  }

  .arrow__left--container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    height: 20vh;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    bottom: 0;
    background-color: rgb(197, 197, 186);
  }

  .arrow__right--container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    height: 20vh;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(197, 197, 186);
  }

  .arrow__left--container:hover {
    transition-duration: 0.5s;
    background-color: #99aecc;
  }
  .arrow__right--container:hover {
    transition-duration: 0.5s;
    background-color: #99aecc;
  }

  .arrow__right--img {
    transform: rotate(180deg);
  }
}

@media (min-width: 1366px) {
  .main {
    height: 70vh;
  }
  .main__title--container {
    margin-top: 3rem;
  }
  .main__title--container h1 {
    font-size: 3.76rem;
    line-height: 4rem;
    text-align: start;
  }
  .profile__image {
    width: 52vh;
    border-bottom: 6px #e1e1e1 solid;
  }
  .main__courses--container {
    height: 19vh;
  }
  .course {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .course img {
    width: 5.1rem;
  }
  .arrow__right--container {
    height: 19vh;
  }
  .arrow__left--container {
    height: 19vh;
  }
}
@media (min-width: 1500px) {
  .main {
    height: 72vh;
    padding: 1.5rem 5rem;
  }
  .main__title--container {
    margin-top: 5rem;
  }

  .main__title--container h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .profile__image {
    width: 51vh;
  }

  .main__paragraph--container h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .main__courses--container {
    height: 16vh;
  }

  .main__courses--container::-webkit-scrollbar {
    display: none;
  }

  .course {
    font-size: 1rem;
    font-weight: 500;
  }

  .course img {
    width: 6rem;
  }
  .arrow__right--container {
    height: 16vh;
  }
  .arrow__left--container {
    height: 16vh;
  }
}
